.product-carousel-wrapper {
  width: 100%;
  overflow: hidden;
}

.product-carousel-container {
  display: flex;
  flex-wrap: nowrap;
  width: 1150px;
  margin: auto;
  margin-left: 1rem;
  transition: transform 0.5s ease;
  overflow: hidden;
}

.section-title{
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 20px;
  text-align: left;
  color: #3666F0;
}

.product-carousel-button {
  margin-top: 20px;
  width: 174px;
  height: 22px;
  float: right;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 22px;
  letter-spacing: 0.3px;
  color: #A556EC;
  display: flex;
  align-items: right;
  justify-content: right;
  border: 0px solid #A556EC;
  border-radius: 20px;
  background-color: transparent;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.product-carousel-button:hover {
  background-color: #A556EC;
  color: #FFF;
}


.product-carousel-item {
  flex: 0 0 284px;
  text-align: center;
  margin-right: 20px;
}

.product-carousel-item:last-child {
  margin-right: 0;
}
  
  @media (max-width: 768px) {
  .product-carousel-item {
  flex: 0 0 200px;
  margin-right: 10px;
  }

  .div-titles{
    margin-top: 181px;
    padding: 0rem 1rem
  }

  .product-carousel-item:last-child {
  margin-right: 0;
  }
  
  }


.right-button-product{
 position: absolute;
 right: 6.5%
}

@media (max-width: 998px) {
  .right-button-product{
    position: absolute;
    right: 3.5%;
   }
  .section-title{
   margin-left: 1.5rem;
   margin-bottom: 2rem;
   margin-top: 4rem
  }
 
  }
