.my-sells-title {
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 2.5rem; 
  line-height: 1.2;
  margin-bottom: 2.5rem;
  margin-top: 2rem;
  text-align: center;
  color: #000000;
}

.opciones {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 2vw; 
}

.opcion {
  cursor: pointer;
  padding: 1.5vw 2.5vw; 
  font-style: normal;
  font-weight: 400;
  font-size: 2rem; 
  line-height: 1.2;
  font-family: "Inter";
  color: #000000;
}

.opcion:hover {
  background-color: blue;
  color: white;
}

.opcion.seleccionada {
  background-color: blue;
  color: white;
}

.opcion:not(:last-child)::after {
  content: "";
  display: block;
  height: 100%;
  border-right: 2px solid blue;
}

@media (min-width: 768px) {
  .opciones {
    flex-wrap: nowrap;
  }

  .opcion {
    margin: 1vw; 
    padding: 1.5vw 2vw; 
    font-size: 2vw; 
  }
}

.div-mysells {
  max-width: 90%; 
  height: auto;
  margin: 2vw auto; 
  padding: 1rem; 
  border: 3px solid #3666f0;
  border-radius: 16px;
}

.opciones-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 3px solid #3666F0;
  margin-bottom: 2vw; 
  padding-left: 8vw; 
  padding-right: 8vw; 
}

.contenido-opcion {
  margin-top: 2vw; 
}

.product-card-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

