.category-conteiner{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.sub_header-conteiner{
    display: none;
}

@media (min-width: 900px) {
  .sub_header-conteiner{
    display: flex;
    justify-content: space-around;
    padding-left: 20%;
    margin: 20px 0;
}
}

.category-container {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .bottomless-button {
    background: none;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
  }
  
  .button-text {
    margin-right: 8px;
  }
  
  .button-img {
    width: 24px;
    height: 24px;
  }
  .modal-content {
    border-radius: 0;
    box-shadow: none;
  }
  
  .modal-header,
  .modal-footer {
    border: none;
  }
  
  .modal-title {
    font-size: 1.5rem;
  }
  
  .modal-dialog {
    margin: 0;
    margin-left: auto;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  
  .modal-body {
    flex: 1;
    overflow-y: auto;
  }
  
  @media (min-width: 768px) {
    .modal-dialog {
      max-width: 50%;
    }
  }