.login-page_conteiner{
    margin: 80px;
    display: flex;
    justify-content: space-evenly;
}

.login-page_carousel{
   display: none;
}

@media (min-width: 900px) {
    .login-page_carousel {
        display: inherit;
        width: 607px;
        height: 749px;
        background: #EDEDED;
        border-radius: 16px;
    }
}