.cart_container{
    
        width: 100%;
        min-height: 165px;
        border: 1px solid #C4C4C4;
        display: flex;
        margin: 10px auto;
        
}

.delete_button{
    height: 40px;
    width: 40px;
    align-self: end;
    border: none;
    background: none;
}